mat-list-item {
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px 0 #e7e7e7;
  -moz-box-shadow: 0 0 10px 0 #e7e7e7;
  box-shadow: 0 0 10px 0 #e7e7e7;
}

.main-wrapper {
  margin: 120px 20px 10px 20px;
  width: 96%
}
