<app-top-nav [title]="'Wishlists'"></app-top-nav>

<!--<div class="moving-nav" (click)="toggle()" [style.left.px]="sidebarWidth">-->
<!--  <nav-bar [padding]='80'></nav-bar>-->
<!--  <button class="btn">-->
<!--    <span *ngIf="!expanded" class="material-icons arrow-left">arrow_back_ios_new</span>-->
<!--    <span *ngIf="expanded" class="material-icons arrow-right">arrow_forward_ios</span>-->
<!--  </button>-->
<!--</div>-->
<app-moving-nav></app-moving-nav>
<div class="row">
  <div class="list-wrapper col-5">
    <mat-list *ngFor="let list of lists">
      <mat-label>{{list.title}}</mat-label>

      <button (click)="deleteList(list.id)" class="delete-btn" style="margin-right: 18px">Delete
        List
      </button>
      <button (click)="newTask($event)" value="{{list.id}}" class="add-btn">Add Task</button>
      <button (click)="goToToDo($event)" value="{{list.id}}" class="show-btn">ToDo List</button>

      <mat-list-item *ngFor="let task of tasks" [ngStyle]="{'display': task.list_id == list.id ? '' : 'none'}">
        <span>{{task.text}}</span>
        <div>
          <button (click)="deleteTask(task.id)" class="delete-btn">Delete Task</button>
        </div>
      </mat-list-item>
      <hr>
    </mat-list>
  </div>
  <div class="col-3" style="height: 135px;">
    <app-publications></app-publications>
  </div>
</div>

<router-outlet></router-outlet>
