<app-top-nav [title]="'Wishlist'"></app-top-nav>
<!--<p class="user">Lists of {{user.username.toUpperCase()}}</p>-->
<div class="lists" style="margin-top: 100px">
  <div *ngFor="let list of lists" class="publication">
    <div class="one-list">
      <p class="list-title">{{list.title}}</p>
      <button routerLink="/task" (click)="newTask($event)" value="{{list.id}}" class="add-btn">Add Task</button>
      <!--      <button routerLink="/task" (click)="newTask(list.id)" class="add-btn">Add Task</button>-->
      <button (click)="deleteList(list.id)" class="delete-btn">Delete List</button>
      <div *ngFor="let task of tasks">
        <div class="task" *ngIf="task.list_id == list.id">
          <p class="task-title">{{task.text}}</p>
          <button (click)="deleteTask(task.id)" class="add-btn">Edit Task</button>
          <button (click)="deleteTask(task.id)" class="delete-btn">Delete Task</button>
        </div>
      </div>

    </div>
  </div>
</div>
<router-outlet></router-outlet>
