::ng-deep {
  .mat-list-item-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  button {
    margin-left: 10px;
  }
}

.row {
  margin: 200px 80px 0 80px;
  justify-content: space-between;
}

.list-wrapper {
  float: left;
}

mat-list-item {
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px 0 #e7e7e7;
  -moz-box-shadow: 0 0 10px 0 #e7e7e7;
  box-shadow: 0 0 10px 0 #e7e7e7;
}

.show-btn {
  background: #726580;
  color: white;
  padding: 0.3rem 0.8rem;
  border: 1px solid white;
  border-radius: 7px;
}

.add-btn {
  background-color: rgb(76, 161, 76);
  color: white;
  padding: 0.3rem 0.8rem;
  border: 1px solid white;
  border-radius: 7px;

  &:hover {
    transition: .3s;
    cursor: pointer;
    background-color: rgb(27, 105, 27);
  }
}

.delete-btn {
  background-color: rgb(216, 86, 93);
  color: white;
  padding: 0.3rem 0.8rem;
  border: 1px solid white;
  border-radius: 7px;

  &:hover {
    transition: .3s;
    cursor: pointer;
    background-color: rgb(207, 20, 29);
  }
}

mat-label {
  font-weight: bold;
  font-size: 18px;
}

button {
  float: right;
}

