<div class="wrapper">
  <nav>
    <ul>
      <ng-container *ngIf="!userService.loggedIn(); else loggedIn">
        <li style="margin-top: -350px">
          <span routerLink="/registration"><span class="material-icons">how_to_reg</span>Check in</span>
        </li>
        <li style="margin-top: -350px">
          <span routerLink="/login"><span class="material-icons">login</span>Log In</span>
        </li>
      </ng-container>
      <ng-template #loggedIn>
        <li>
          <span routerLink="/"><span class="material-icons">home</span>Home</span>
        </li>
        <li>
          <span routerLink="/profile"><span class="material-icons">person</span>Profile</span>
        </li>
        <li>
          <span routerLink="/video"><span class="material-icons">group</span>Videos</span>
        </li>
        <li>
          <span routerLink="/post"><span class="material-icons">group</span>Posts</span>
        </li>
        <li>
          <span routerLink="/list"><span class="material-icons">add_task</span>Lists</span>
        </li>
        <li>
          <span routerLink="/note"><span class="material-icons">bookmarks</span>Notes</span>
        </li>
        <!--        <li>-->
        <!--          <span routerLink="/list"><span class="material-icons">bookmarks</span>Lists</span>-->
        <!--        </li>-->
        <!--        <li>-->
        <!--          <span routerLink="/task"><span class="material-icons">bookmarks</span>Add Task</span>-->
        <!--        </li>-->
        <li>
          <span (click)="userService.logOut()"><span class="material-icons">logout</span>Log Off</span>
        </li>
      </ng-template>
    </ul>
  </nav>
</div>
<!--<home-page></home-page>-->
<!--<router-outlet></router-outlet>-->
