.main {
  height: 400px;
  width: 80%;
  margin: 0 0 0 17%;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  margin: auto;
  width: 70%;
  font-size: 70px;
  padding: 55px 40px;
}

.wrapper {
  height: 160px;
  width: 40%;
  margin: 20px;
  background: #726580;
  box-shadow: 0 0 50px 0 #e7e7e7;
  color: white;
  cursor: pointer;

  .content {
    margin-top: 60px;
    margin-left: 20px;
    display: flex;

    font-size: 18px;

  }

  &:hover {
    background-color: black;
    transition: .5s;
    transform: scale(1.03);

    .material-icons {
      color: white;
      transition: .5s;
    }
  }

}

.material-icons {
  color: black;
  margin-right: 15px;
}

.buttons {
  position: fixed;
  right: 0;
  height: 30px;
  width: 200px;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;


  button {
    background-color: white;
    border: 0;
    cursor: pointer;

    &:hover {
      color: #c5a84e;
    }
  }

}

img {
  width: 50px;
  position: absolute;
  top: 10px;
  right: 11px;
}

