<h1>
  Hello, how may i<br> help you?
</h1>

<div class="main">
  <div class="wrapper">
    <div class="content"><span class="material-icons">search</span> Watch Service
      <span style="margin-left: 200px;" class="material-icons">navigate_next</span>
    </div>
  </div>
  <div class="wrapper">
    <div class="content"><span class="material-icons">how_to_reg</span> Existing Costumer<span
      style="margin-left: 170px;" class="material-icons">navigate_next</span></div>
  </div>
  <div class="wrapper" style="margin-left: 60px;">
    <div class="content"><span class="material-icons">add_box</span>New Costumer
      <span style="margin-left: 200px;" class="material-icons">navigate_next</span>
    </div>
  </div>
  <div class="wrapper">
    <div class="content"><span class="material-icons">cached</span>Look around
      <span style="margin-left: 220px;" class="material-icons">navigate_next</span>
    </div>
  </div>
</div>
