<nav-bar></nav-bar>
<h1>
  Hello, how may i<br> help you?
</h1>
<img src="https://cdn-icons-png.flaticon.com/512/4771/4771344.png" alt="logo">
<div class="main">
  <div class="wrapper" routerLink="/video">
    <div class="content"><span class="material-icons">search</span> Watch Video
      <span style="margin-left: 200px;" class="material-icons">navigate_next</span>
    </div>
  </div>
  <div class="wrapper" routerLink="/profile">
    <div class="content"><span class="material-icons">how_to_reg</span> Your Profile<span
      style="margin-left: 170px;" class="material-icons">navigate_next</span></div>
  </div>
  <div class="wrapper" routerLink="/list" style="margin-left: 60px;">
    <div class="content"><span class="material-icons">add_box</span> New Lists
      <span style="margin-left: 200px;" class="material-icons">navigate_next</span>
    </div>
  </div>
  <div class="wrapper" routerLink="/note">
    <div class="content"><span class="material-icons">cached</span> Make Some Notes
      <span style="margin-left: 220px;" class="material-icons">navigate_next</span>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
