.toolbar {
  color: white;
  display: flex;
  z-index: -5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: #726580;
  box-shadow: 0 0 50px 0 #e7e7e7;
  font-weight: 600;
  font-size: 40px;
}

.routerDiv {
  position: absolute;
  right: 250px;
  top: 0px;
}

