.toolbar {
  color: #c5a84e;
  display: flex;
  z-index: -5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: rgb(6, 15, 19);
  background: linear-gradient(90deg, rgba(6, 15, 19, 1) 0%, rgba(19, 20, 20, 1) 50%, rgba(6, 15, 19, 1) 100%);
  font-weight: 600;
  font-size: 40px;
}

.routerDiv {
  position: absolute;
  right: 250px;
  top: 0px;
}

