<!--&lt;!&ndash;<button [routerLink]="route" class="button">{{ text }}</button>&ndash;&gt;-->

<!--<div class="main" [style.width.px]="sidebarWidth">-->
<!--  <nav-bar></nav-bar>-->


<!--  <div class="sizer-wrap" (click)="toggle()">-->

<!--    <div class="strip"></div>-->
<!--    <div class="sizer">-->
<!--      <div class="line">-->
<!--      </div>-->
<!--    </div>-->

<!--    <button class="btn">-->
<!--      <div class="overlay"></div>-->
<!--      <span class="cursor-pointer fill-current text-white flex-shrink-0 leading-none">-->
<!--&lt;!&ndash;            <svg-icon [name]="icon"&ndash;&gt;-->
<!--        &lt;!&ndash;                      [size]="24"&ndash;&gt;-->
<!--        &lt;!&ndash;                      class="icon text-textMedium">&ndash;&gt;-->
<!--        &lt;!&ndash;            </svg-icon>&ndash;&gt;-->
<!--        </span>-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->
