<!--<div class="router_div">-->
<!--  <app-button-->
<!--    [text]="'Back'"-->
<!--    [route]="'/'">-->
<!--  </app-button>-->
<!--</div>-->

<!--<app-nav-bar-page></app-nav-bar-page>-->
<!--<div class="wrapper main-wrapper container main-box main-box-default">-->
<!--  <div style="border: 1px solid black; background-color: #faf7f5;">-->
<!--    <div class="first-line">-->
<!--      <div class="white-box-1"></div>-->
<!--      <div class="white-box-2"></div>-->
<!--      <div class="white-box-3"></div>-->
<!--    </div>-->
<!--    <div class="second-line">-->
<!--      <div class="white-box-4"></div>-->
<!--      <div class="white-box-5"></div>-->
<!--      <div class="white-box-6"></div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<app-footer></app-footer>-->
<!--<router-outlet></router-outlet>-->
