.wrapper {
  width: 40%;
  margin: auto;
  font-size: 20px;

  img {
    width: 100px;
    height: 100px;
    margin-top: 50px;
    margin-left: 43%;
    margin-bottom: 20px;
  }
}

::ng-deep {
  .wrapper .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    padding: 0 30px;
  }

  .wrapper nav {
    margin-top: -20px;
  }
}

mat-list-item {
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px 0 #e7e7e7;
  -moz-box-shadow: 0 0 10px 0 #e7e7e7;
  box-shadow: 0 0 10px 0 #e7e7e7;
  padding: 0 30px;

  span {
    margin-right: 40px;
  }
}

.btn {
  margin: 160px 0 0 120px;
  position: fixed;
  z-index: 10;
  background-color: #726580;

  &:focus {
    box-shadow: none;
  }
}

.moving-nav {
  position: absolute;
  top: -2px;
  height: 100%;
  transition: 1s;
}
